<% include partials/header %> 
<div class="mdl-grid portfolio-max-width">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text"><h1>
                <%= title %>
            </h1></h1>
        </div>
        

        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                    Hard-working, designer and developer offering excellent work ethic, enthusiasm and
                                    adaptability with experience in graphic design, frontend, backend and flash/flex development.
                                    Personable, friendly and eager to work and learn with others. I enjoy working in the industry
                                    and have a passion for creating and discovering new and effective digital experiences.</p>
            </div>




            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>

            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                    Travailleur, concepteur et développeur offrant une excellente éthique du travail, de l'enthousiasme et de l'adaptabilité avec de l'expérience en conception graphique, développement frontend, backend et flash / flex. Sympathique, amical et désireux de travailler et d'apprendre avec les autres. J'aime travailler dans l'industrie et avoir la passion de créer et de découvrir des expériences numériques nouvelles et efficaces.</p>
            </div>
        </div>
    </div>


</div>
  <% include partials/footer %> 